* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #59abccc9;
}

.start-button,
.instructions-box,
.quiz-board,
.end_page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0px 4px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.instructions-box.activeInfo,
.quiz-board.activeQuiz,
.end_page.activeResult {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start-button button {
    font-size: 25px;
    font-weight: 500;
    color: #1c2020;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #d8dfe1;
    cursor: pointer;
}

.instructions-box {
    width: 540px;
    background: #d8dfe1;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.instructions-box .instructions-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    font-size: 25px;
    font-weight: 600;
}

.instructions-box .rules-list {
    padding: 15px 35px;
}

.instructions-box .rules-list .rule {
    margin: 5px 0;
    font-size: 18px;
}

.instructions-box .rules-list .rule span {
    font-weight: 600;
    color: #2a338d;
}

.instructions-box .btns {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid #333;
}

.instructions-box .btns button {
    margin: 0 10px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #d8dfe1;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.good-luck {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 20px;
}

.btns button.escape-btn {
    color: #528db1;
}

.btns button.again-btn {
    color: #d8dfe1;
    border-color: #528db1;
    background-color: #528db1;
}

.btns button.again-btn:hover {
    background: #2a338d;
}

.btns button.escape-btn:hover {
    color: #d8dfe1;
    background: #528db1;
}

.quiz-board {
    width: 900px;
    background: #d8dfe1;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz-board header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #d8dfe1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz-board header .header {
    font-size: 25px;
    font-weight: 600;
}

.quiz-board header .countdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    height: 55px;
    background: #528db1;
    border: 1px solid #c5d4e4;
    border-radius: 10px;
    padding: 0 8px;
}

.quiz-board header .countdown .countdown-text {
    font-weight: 400;
    font-size: 20px;
    user-select: none;
    color: #d8dfe1;
}

.quiz-board header .countdown .countdown-secs {
    font-size: 18px;
    font-weight: 500;
    background: #d8dfe1;
    height: 30px;
    width: 60px;
    color: #528db1;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    border: 1px solid #d8dfe1;
    user-select: none;
}

.quiz-board section {
    padding: 25px 30px 20px 30px;
    background: #d8dfe1;
}

.quiz-board section .quiz {
    font-size: 25px;
    font-weight: 600;
}

.quiz-board section .options {
    padding: 20px 0;
    display: block;
}

section .options .option {
    background: #d8dfe1;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .options .option:hover {
    color: #2a338d;
    background: #c6c7c9;
    border-color: #2a338d;
}

.options .option:last-child {
    margin-bottom: 0px;
}

.options .option.correct {
    color: #054024;
    background: #599685c6;
    border-color: #599685c6;
    ;
}

.options .option.incorrect {
    color: #5c0909;
    background: #b6655aba;
    border-color: #b6655aba;
}

.options .option.disabled {
    pointer-events: none;
}

.quiz-board footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-board footer .progress span {
    display: flex;
    user-select: none;
}

footer .progress span p {
    font-weight: 600;
    padding: 0 5px;
}

.progress span p:first-child {
    padding-left: 0px;
}

footer #next-button {
    display: none;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #d8dfe1;
    background-color: #528db1;
    border-radius: 10px;
    border: 1px solid #528db1;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer #next-button:hover {
    background: #2a338d;
}

.end_page {
    background: #d8dfe1;
    width: 450px;
    padding: 25px 30px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.end_page .end-message {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #333;
}

.end_page .score span {
    display: flex;
    margin: 10px 0;
    font-size: 17px;
    font-weight: 500;
}

.score span p {
    font-weight: 600;
    padding: 0 4px;
}

.end_page .btns {
    display: flex;
    margin: 20px 0;
}

.end_page .btns button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #0e9ebb;
    cursor: pointer;
    transition: all 0.3s ease;
}